@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, #ad5389, #3c1053);
  padding: 1rem;
}

h1 {
  max-width: 300px;
  text-align: center;
  font-size: 40px;
  background: linear-gradient(to right, #7f00ff, #e100ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

.container {
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 300px;
  height: 15px;
  -webkit-appearance: none;
  background-color: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0,0,0,1);
}

input#red-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f00;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #f00;
}

input#green-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0f0;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #0f0;
}

input#blue-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00f;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00f;
}

.sliders {
  text-align: center;
  font-size: 20px;
}

.red {
  color: #ff0000;
}

.green {
  color: #00ff00;
}

.blue {
  color: #0000ff;
}

#color-square {
  width: 300px;
  height: 150px;
  background-color: rgb(0,0,0);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #9999ff;
}

#rgb-value {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #9999ff;
}

footer {
  padding: .5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  background-color: #201239;
  color: #9999ff;
  border-top: 1px solid;
}

footer a {
  text-decoration: none;
  color: #9999ff;
}

.rgb-value-container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9999ff;
}

.rgb-value-container i {
  cursor: pointer;
}

.hex-value-container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9999ff;
}

.hex-value-container i {
  cursor: pointer;
}

#hex-value {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #9999ff;
}

.colors-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}